@import '../../color.scss';

.caption {
  color: $brown;
  text-align: center;
  margin-bottom: 8px;
}
.footer {
  background-color: $brown;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .caption {
    font-size: 24px;
  }
}

@media screen and (max-width: 1080px) {
  .caption {
    font-size: 16px;
  }
}
