@import '../../color.scss';

.contentsWrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: $yellow;
  padding: 32px 16px;
}
.company {
  margin: 0 48px 32px 0;
}
.companyName {
  margin-bottom: 8px;
}
.address {
  margin-bottom: 8px;
}
.number {
  margin: 0;
}
.link {
  color: $yellow;
  display: block;
  text-decoration: underline;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $red;
  }
}

@media screen and (min-width: 1080px) {
  .contentsWrapper {
    justify-content: center;
  }
  .companyName {
    font-size: 32px;
  }
  .link {
    font-size: 24px;
  }
}

@media screen and (max-width: 1080px) {
  .contentsWrapper {
    justify-content: flex-start;
  }
  .companyName {
    font-size: 28px;
  }
  .link {
    font-size: 16px;
  }
}
