@import '../../color.scss';

.root {
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
.dayBai {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 1080px) {
  .root {
    padding: 32px 48px 0 24px;
    flex-direction: row;
  }
  .dayBai {
    margin-top: 80px;
    width: auto;
  }
}

@media screen and (max-width: 1080px) {
  .root {
    padding: 32px 24px 0 24px;
    flex-direction: column;
  }
  .dayBai {
    margin: 0;
    width: 100%;
  }
}
